<html>
<head>
    <title></title>
    <meta charset="utf-8">
<!--<base href="/DMS/" />-->
</head>
<body>
    <div ng-controller="DocumentController">
        <h2 class="CustomStyle1">Document</h2>
        <form class="container" name="userForm" novalidate>
            <div role="tabpanel" class="form-horizontal" id="messages">
<!--<notifications-bar class="notifications"></notifications-bar>-->
                <div class="alert alert-danger alert-dismissible" ng-show="validErrors || (userForm.$submitted && (!userForm.$valid))">
                    <ul ng-show="validErrors">
                        <li ng-repeat="error in validationErrors">{{error}}</li>
                    </ul>
                    <ul ng-show="userForm.$submitted && (!userForm.$valid)">
                        <li ng-show="userForm.DocName.$error.required">A name is required.</li>
                        <li ng-show="userForm.DocDescription.$error.required">A description is required.</li>
                        <li ng-show="userForm.DocCreayedBy.$error.required">A created by name is required.</li>
                        <li ng-show="Doc.SelectedTechId==0">A Technology is Required.</li>
<!--<li ng-show="userForm.DocChkFile.$error.required && Doc.IsCode != true">A file is required.</li>
<li ng-show="userForm.DocChkCode.$error.required && Doc.IsFile != true">A code is required.</li>-->
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row form-group" ng-show="Doc.EditOp">
                                <label class="col-sm-3 control-label"><label class="mandetoryField" />ID</label>
                                <div class="col-sm-6">
                                    <span class="col-sm-3 control-label"><span name="DocId" class="mandetoryField" ng-bind="Doc.Id" /> </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 control-label"> <label class="mandetoryField" />Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="DocName" ng-model="Doc.Name" required />
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-sm-3 control-label"> <label class="mandetoryField" />Description</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="DocDescription" ng-model="Doc.Description" required />
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-sm-3 control-label"> <label class="mandetoryField" />Created By</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="DocCreayedBy" ng-model="Doc.CreayedBy" required />
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-sm-3 control-label"> <label class="mandetoryField" />Technology</label>
                                <div class="col-sm-6">
                                    <select name="Technology" class="form-control" ng-model="Doc.SelectedTechId" ng-options="Entity.Id as Entity.Name for Entity in technologies"></select>
                                </div>
                            </div>

                            <div class="row form-group" ng-show="!FileExists">
                                <label class="col-sm-3 control-label"> <label class="mandetoryField" />Select File</label>
                                <div class="col-sm-6">
                                    <input id="FileUpload" name="DocFile" type="file" class="form-control" />
                                </div>
                            </div>

                            <div class="row form-group" ng-show="!CodeExists">
                                <label class="col-sm-3 control-label"> <label class="mandetoryField" />Select Code (Zip)</label>
                                <div class="col-sm-6">
                                    <input id="CodeUpload" name="DocCode" type="file" class="form-control" />
                                </div>
                            </div>

                            <div ng-show="Doc.BothFileExists" class="row form-group">
                                <b>Selected Documents:</b>
                                <br />
                                <br />
                                <div class="col-sm-12" ng-show="FileExists">
                                    <div class="col-sm-3">Selected File:</div>
                                    <div class="col-sm-9">
                                        <label>{{selectedFileDisplay}}</label>
                                        <a ng-click="AddNewDeleteExistingFile(selectedFileDisplay,Doc.Id)"><img src="Images/ic-remove.png" /></a>
                                        <!--<input type="button" value="Delete" ng-click="AddNewDeleteExistingFile(selectedFileDisplay,Doc.Id)" />-->
                                    </div>
                                </div>
                                <br />
                                <div class="col-sm-12" ng-show="CodeExists">
                                    <div class="col-sm-3">Selected Code File:</div>
                                    <div class="col-sm-9">
                                    <label>{{selectedCodeDisplay}}</label>
                                     <a ng-click="AddNewDeleteExistingCodeFile(selectedCodeDisplay,Doc.Id)"><img src="Images/ic-remove.png" /></a>
<!--<input type="button" value="Delete" ng-click="AddNewDeleteExistingCodeFile(selectedCodeDisplay,Doc.Id)" />-->
                                    </div>
                                </div>
                            </div>


                            <div class="row form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <input type="submit" name="name" value="Submit" ng-click="save(userForm)" class="btn btn-primary" />
<!--<input type="button" class="btn btn-primary" id="save" value="Save" data-ng-click="save()" />-->
                                    <input type="button" class="btn btn-primary" id="Clear" value="Clear" data-ng-click="Clear(userForm)" />
                                    <input type="button" class="btn btn-primary" value="Cancel" data-ng-click="Cancel(userForm)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="wthbox">
            <table class="table grid table-condensed table-hover" id="tblDocuments" width="100%"></table>
<!--<div id="grid1" ui-grid="gridOptions" class="grid"></div>-->
        </div>
    </div>
</body>
</html>


