@{
    ViewBag.Title = "SubLayout";
    Layout = "~/Views/Shared/_SignupLayout.cshtml";

}

<div ng-controller="RegistrationController">
    <h2 class="CustomStyle2">Registration</h2>
    <form class="container RegStyle" name="userForm" novalidate>
        <div role="tabpanel" class="form-horizontal" id="messages">
            <div class="alert alert-danger alert-dismissible" ng-show="validErrors || (userForm.$submitted && (!userForm.$valid))">
                <ul ng-show="validErrors">
                    <li ng-repeat="error in validationErrors">{{error}}</li>
                </ul>
                <ul ng-show="userForm.$submitted && (!userForm.$valid)">
                    <li ng-show="userForm.UserName.$error.required">A name is required.</li>
                </ul>
            </div>
        </div>
        <div class="myBox">
            <div class="wthbox">
                <div class="row form-group">
                    <label class="col-sm-3 control-label">User Name</label>
                    <div class="col-sm-9"><input type="text" name="UserName" class="form-control" ng-model="UserName" required></div>
                </div>

                <div class="row form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <input type="submit" name="name" value="Submit" ng-click="signUpUser(userForm);" class="btn btn-primary" />
                        <input type="button" class="btn btn-primary" id="Clear" value="Clear" data-ng-click="Clear()" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

